/* ASSIGNMENT 2 */

/* .col-md-4{
  border:5px solid black;
  background-color:blue
}

.col-md-6{
  border:5px solid black;
  background-color: chartreuse;
}

.ass{
  text-align: center;
} */

/* ASSIGNMENT 3 */

/* .ass{
  text-align: center;
}  */

.a {
  border: 3px solid darkblue;
}
.b {
  border: 3px solid red;
}
.c {
  border: 3px solid green;
}
/* .tododiv{

  margin-top: 50px;
 
}
.hello{

}
.maindiv{
  background-color: #282c34;
  color: white;
} */

/* td{
  border: 5px solid black;
}
th{
  border: 5px solid black;
}

*{
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-left: 120px;
  margin-top: 100px;
} */

/* .inputfile {
  overflow: hidden;
  height: 0px;
  width: 0px;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
} */

/* header { */
/* background: url('../src/images/banner.webp'); */

/* background: url("https://images.pexels.com/photos/975250/pexels-photo-975250.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); */

/* width: 100%;
  height: 800px;
  margin-top: 70px;
  background-size: cover;
  background-repeat: no-repeat; */
/* justify-content: center;
align-items: center; */
/* }, */

/* Container: {
  maxWidth: "100vw",
  minWidth: "100vh",
  display: "flex",
  alignItems: "flex-start",
  justifyContent: "space-evenly",
  flexWrap: "wrap",
}, */

/*wp coders*/

.main-container {
  background-image: url(./asstes/Images/shadow\ image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.imgDiv {
  height: "120px";
  width: "120px";
}

.card-div {
  border-radius: 15px;
  color: white;
  /* background-color: black; */
  padding-left: 40px !important;
  
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .slideFirstLine{
    font-size: 20px !important;
   
  }
 
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
.slideFirstLine{
  font-size: 20px !important;

}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .slideFirstLine{
    font-size: 30px !important;
  
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .slideFirstLine{
    font-size: 40px !important;
  
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}